<!DOCTYPE html>
<!-- ---------------------------------------- -->
<!--  以下、bootstrapを利用するための設定。これをapplication.html.erbにはい→つけると、各ページでBootstraupのテンプレが利用可能となる。-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- ---------------------------------------- -->
<!-- CSRFトークンの対策として、描きを記述する模様。ただ、下記の方法のいずれを用いればよいのかわからないので、下記もコメントアウトしている
1. application_controller のprotect from forgeryを :null_sessionに変更するのか
2. new_recoredにajaxの突破するための記述を行うのか。その場合、合わせて下記の <meta ... >の記述を追加するのか

2018/10/18追記
下記をコメントアウトしないと、ログアウトができない。以下のエラーメッセージが表示される
" ActionController::InvalidAuthenticityToken in UsersController#logout "
 -->
<!-- <meta name="csrf-token" content="{{ csrf_token() }}"> -->
<html>
  <head>
    <title>Humming Search</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <!-- <div class="header-log">
        <% if@current_user%>
          <%= link_to("Humming Search", "/posts/index")%>
        <% else %>
        <%= link_to("Humming Search", "/")%>
        <% end %>
      </div> -->

      <ul class ="header-menus">
        <% if @current_user %>
          <li><%= link_to("Humming Search", "/")%></li>
          <li><%= link_to(@current_user.name, "/users/#{@current_user.id}")%></li>
          <li><%= link_to("質問一覧", "/posts/index")%></li>
          <li><%= link_to("質問をする", "/posts/#{@current_user.id}/new_record")%></li>
          <li><%= link_to("ログアウト", "/logout", {method: :post})%></li>
        <% else %>
        <!--ログインしていない状態  -->
          <li><%= link_to("Humming Search", "/")%></li>
          <li><%=link_to("新規登録", "/users/new") %></li>
          <li><%=link_to("ログイン", "/login") %></li>
          <li><%=link_to("質問を見る", "/posts/index") %></li>
          <li><%=link_to("質問をする", "posts/:id/new_record") %></li>
        <% end %>
      </ul>

    </header>

      <%= yield %>

        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
      <% end %>  <!-- yieldとの対応のend -->
  </body>
</html>
